{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="primary-container">
        <p>Homepage</p>

        <button type="button" class="btn">-</button>
        <button type="button" class="btn">=</button>
        <button type="button" class="btn">+</button>

        <div class="container" id="container">
            <p>
                This is the to test the font change buttons. <br>
                (-) smaller <br>
                (+) larger <br>
                (=) preset size
            </p>
        </div>
        {% comment %} <input type="range" min="10" max="100" id="slider" value="40" /> {% endcomment %}

    </div>
    

    <script src="{% static "btnscript.js" %}"></script>
</body>
</html>